<h1 data-id="<%= @discussion.id %>"><%= @discussion.summary %></h1>
<h2>A discussion on <%= link_to @discussion.article.title, @discussion.article %></h2>

<% if @discussion.source_discussion %>
  <strong>Branched from <%= link_to @discussion.source_discussion.summary, @discussion.source_discussion %></strong>
<% end %>
<% if @discussion.visible %>
  <ul>
    <strong>Branched discussions:</strong>
    <% @discussion.branches.each do |branch| %>
      <li class="<%= "negative" unless branch.visible %>"><%= link_to branch.summary, branch %></li>
    <% end %>
  </ul>
<% end %>

<%= render "comments/new_comment_form", discussion: @discussion %>

<ol class="comment-list">
<% @discussion.comments.each do |comment| %>
  <%= render "comments/comment", comment: comment %>
<% end %>
</ol>

<script type="text/javascript">
  $(document).ready(window.discussion.setup)
</script>
