<h1 data-id="<%= @discussion.id %>"><%= @discussion.summary %></h1>
<h2>Pertaining to the article <%= link_to @discussion.article.title, @discussion.article %></h2>

<ul>
  <strong>Branched discussions:</strong>
  <% @discussion.branches.each do |branch| %>
    <% next unless branch.visible %>
    <li><%= link_to branch.summary, branch %></li>
  <% end %>
</ul>

<%= render "comments/new_comment_form", discussion: @discussion %>

<ol class="comment-list">
<% @discussion.comments.each do |comment| %>
  <%= render "comments/comment", comment: comment %>
<% end %>
</ol>

<script type="text/javascript">
  $(document).ready(window.discussion.setup)
</script>
