<li class="comment" data-id="<%= comment.id %>">
  <a id="comment_<%= comment.id %>">
    Posted <strong><%= comment.post_time_in_words %></strong>
  </a>

  <span class="voting">
    Rating: <span class="comment-rating" data-id="<%= comment.id %>"><%= comment.rating %></span>
    <a href="#"
      class="comment-vote-link"
      data-id="<%= comment.id %>"
      data-rating="1">Vote Up</a>
    <a href="#"
      class="comment-vote-link"
      data-id="<%= comment.id %>"
      data-rating="-1">Vote Down</a>
  </span>

  <% if comment.quote %>
    <p class="comment-quote"><%= comment.quote %></p>
  <% end %>
  <p><%= comment.content %></p>
  <a href="#" class="comment-reply-link">Reply</a>
</li>
