<li class="comment" data-id="<%= id %>">
  <a id="comment_<%= id %>">
    Posted <strong><%= post_time_in_words %></strong>
  </a>

  <span class="voting">
    Rating: <span class="comment-rating" data-id="<%= id %>"><%= rating %></span>
    <a href="#"
      class="comment-vote-link"
      data-id="<%= id %>"
      data-rating="1">Vote Up</a>
    <a href="#"
      class="comment-vote-link"
      data-id="<%= id %>"
      data-rating="-1">Vote Down</a>
  </span>

  <% if (quote != undefined) { %>
    <p class="comment-quote"><%= quote %></p>
  <% } %>
  <div>
    <%- content %>
  </div>
  <a href="#" class="comment-reply-link">Reply</a>
</li>
